.lista-notas {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  list-style-type: none;
  margin: 0 24px;
}

.lista-notas_item {
  margin: 12px;
  max-width: 200px;
  max-height: 200px;
  display: inline;
  border-radius: 4px;
}

@media (max-width: 1025px) {
  .lista-notas {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 700px) {
  .lista-notas {
    grid-template-columns: auto auto;
  }
}
