.conteudo {
  display: grid;
  grid-template-columns: auto auto;
}

:root {
  --primaria: #58a4b0;
  --secundaria: #373f51;
  --secundaria-ativa: #cccccc;
  --fundo: #ffffff;
  --fundo-detalhes: #ececec;
  --fundo-detalhes-dark: #8b8b8b;
}

body.dark {
  background-color: #4e4e4e;
  color: #fff;
}

@media (max-width: 700px) {
  .conteudo {
    grid-template-columns: auto;
  }
}
